table {
  width: 400px;
  height: 400px;
  /* background-color: gray; */
}

.mole {
  background-color: rgb(73, 252, 18);
}

.hole {
  background-color: rgb(235, 235, 235);
}

.up {
  background-color: rgb(73, 252, 18);
}
