body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/bg-main.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}

.logo {
  display: flex;
  color: white;
}

.logo-img {
  margin-right: 8px;
}

.logo:hover .logo-img {
  content: url("../img/logo_orange.svg");
}

.logo:hover .logo-text {
  color: #f26522;
}

.logo-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  margin-top: 3px;
}

.logo-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 19px;
  font-size: 18px;
  line-height: 18px;
}

.contact * {
  color: white;
}

.contact-email:hover {
  color: #f26522;
}

.contact-tel:hover {
  color: #f26522;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 37px;
}

.main-item a {
  color: white;
}

.main-item {
  position: relative;
  overflow: hidden;
}

.item-hover {
  background-color: #f26522;
  height: 55px;
  width: 300px;
  position: absolute;
  left: 0;
  /*top:165px;*/
  /*opacity: 0;*/
  top: 300px;
  transition: 0.5s;
}

/*.main-item-img {*/
/*    overflow: hidden;*/
/*}*/

.main-item:hover .item-hover {
  /*opacity: 1;*/
  top: 165px;
}

.main-item:hover .main-item-title {
  color: #f26522;
}

.item-hover__wrapper {
  display: flex;
  margin-left: 16px;
  justify-content: space-between;
  align-items: center;
}

.item-hover__from {
  font-size: 10px;
  line-height: 10px;
  padding: 7px 0 8px 16px;
}

.item-hover__price {
  display: flex;
}

.item-hover__currency,
.item-hover__cost {
  font-size: 20px;
  line-height: 20px;
}

.item-hover__link {
  margin-right: 37px;
}

.main-item-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 2px;
}

.footer {
  font-size: 12px;
  line-height: 12px;
  margin: 49px auto 15px;
  text-align: center;
}
