.burger-button {
  display: flex;
  width: 44px;
  height: 37px;
  position: absolute;
  top: 42px;
  right: 15px;
    display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.burger-line__wrapper {
  //   position: relative;
}

.burger__line--first {
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
}

.burger__line {
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 6px;
  border-radius: 5px;
}

.burger-menu {
  list-style-type: none;
  position: absolute;
  top: 103px;
  right: 16px;
  width: 292px;
  padding-bottom: 14px;
    display: none;

  &__item {
    padding: 29px 0 21px 35px;
    background: #333333;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #505050;
    position: relative;
    
    
    &:hover .burger-menu__link{
        color: #8D81AC;
 }

 
}
&__link {
    text-decoration: none;
    font-family: $font-m;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: $color-light-text;
}

.burger-menu__item:hover:before{
    content: '';
    display: block;
    width: 8px;
    height: 53px;
    background-color: #8D81AC;
    position: absolute;
    top: 14px;
    left: 2px;
}
.burger-menu__item:active:before{
    content: '';
    display: block;
    width: 8px;
    height: 53px;
    background-color: #8D81AC;
    position: absolute;
    top: 14px;
    left: 2px;
}

}

.active {
  display: block;
}

@media (min-width: 481px) {
    .burger-menu {
        display: none;
    }
}

@media (max-width: 480px) and (min-width: 320px) {



  .burger-button {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
  }
}