.HomePage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.pageTitle {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}
