* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.hero {
    height: 1012px;
    width: 100vw;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center -100px; */
    background-image: url(../imgs/Sections_background/section-1_header.jpg);
    border-bottom: 8px solid #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.logo-nav-wrapper {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 67px;
    width: 58px;
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo-p {
    width: 31px;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -50%)
}

.logo-title {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
}

.logo-title span {
    font-weight: bold;
}

.nav {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    column-gap: 21px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.nav-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 47px;
}

.nav-menu-link:hover {
    color: rgba(24, 207, 171, 1);
    position: relative;
    border-bottom: 2px solid #18CFAB;
}

.search-img {
    height: 21px;
    width: 21px;
}


.hero-title {
    margin: 264px auto 1px;
    text-align: center;
    color:#FFFFFF;
    font-size: 35px;
    line-height: 1px;
}

.hero-slogan {
    margin: 22px;
    font-size: 78px;
    /* line-height: 1px; */
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
}

.hero-text {
    margin: 22px;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: normal;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin: 134px auto 243px;
}

.button {
    padding: 16px 18px;
    background-color: #18CFAB;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    border-top: 5px solid #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
}

.explore-button{
    margin: 26px;
}
.purchase-button {
    margin: 26px;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.benefits-elem {
    height: 377px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.benefits-elem-odd {
    background-color: rgba(28, 42, 51, 1);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
}
.benefits-elem-even {
    background-color: #18CFAB;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.services-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 83px;
    margin-bottom: 101px;
    text-align: center;
    position: relative;
}

.services-title::before {
    position: absolute;
    width: 79px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 54px;
    left: 530px;
    content: "";
}

.services-title::after {
    position: absolute;
    width: 78px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 64px;
    left: 550px;
    content: "";
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 72px;
    justify-items: center;
    align-items: center;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    margin-bottom: 23px;
    box-sizing: border-box;
}

.services-item {
    text-decoration: none;
    font-size: 16px;
    color: #717171;
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    padding: 26px 0;
    text-align: center;
    justify-items: center;
    align-items: center;
    position: relative;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.services-item.active::before{
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 15px 13px 0 13px;
    bottom: -12px;
    border-color: #18CFAB transparent;
    left: 50%;
    transform: translateX(-50%);
}

.services-item.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    box-sizing: border-box;
}

.services-item:hover {
    border: 1.5px solid #18CFAB;
}

.services-item-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.services-item-info img {
    margin-right: 15px;
    margin-bottom: 91px;
}

.services-info li {
    list-style-type: none;
}

.services-info .hidden{
    display: none;
}

.buy {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-image: url(../imgs/Sections_background/section-2.jpg);
    box-shadow: inset 6000px 0 0 rgba(0, 0, 0, 0.8);
    height: 476px;
    text-align: center;
}

.buy-title {
    padding-top: 127px;
    font-weight: bold;
    font-size: 40px;
}

.buy-text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.buy-button {
    margin-top: 67px;
}

.works {
    background: #E9EDEF;
    text-align: center;
}

.works-title {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    padding-top: 95px;
    margin-bottom: 97px;
    position: relative;
}

.works-title::before {
    position: absolute;
    width: 80px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 150px;
    left: 530px;
    content: "";
}

.works-title::after {
    position: absolute;
    width: 80px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 158px;
    left: 550px;
    content: "";
}
.works-nav-wrapper {
    display: flex;
    list-style-type: none;
    height: 58px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0001);
    margin-bottom: 71px;
}

.works-nav-item {
    background: rgba(0, 0, 0, 0.0001);
    font-size: 14px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 14px 15px 13px;
    cursor: pointer;
}

.works-nav-item.active {
    border: 2px solid #18CFAB;
}

.works-nav-item:hover {
    border: 2px solid #18CFAB;
}

.works-img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.works-img {
    column-gap: none;
    row-gap: none;
    position: relative;
    overflow: hidden;
}

.works-hover {
    background-color: #E9EDEF;
    border-top: #18CFAB solid 7px;
    position: absolute;
    width: 290px;
    height: 210px;
    transition: 0.7s;
    box-sizing: border-box;
    top: 210px;
    left: 0;
}

.works-img:hover .works-hover {
    top: 0;
}

.works-hover-icons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 29px;
}

.works-hover-icon-1 {
    border: 1px solid #18CFAB;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.works-hover-icon-1:hover {
    background-color: #18CFAB;
}

.works-hover-icon-1:hover .works-hover-icon-1-svg {
    fill: #E9EDEF;
}

.works-hover-icon-2 {
    border: 1px solid #18CFAB;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.works-hover-icon-2-rec {
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
}

.works-hover-icon-2:hover {
    background-color: #18CFAB;
}

.works-hover-icon-2:hover .works-hover-icon-2-rec {
    background-color: #E9EDEF;
}

.works-hover-title{
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 8px;
}

.works-hover-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #8A8A8A;
}

.btn-load {
    padding: 16px 18px;
    padding-left: 38px;
    background-color: #18CFAB;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    font-family: Montserrat;
    font-weight: bold;
    position: relative;
    margin-bottom: 99px;
    cursor: pointer;
}

.btn-plus {
    font-size: 22px;
    position: absolute;
    top: 12px;
    left: 11px;
    font-weight: bold;
}

.news {
    height: 1000px;
}

.news-title {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 100px;
    position: relative;
}

.news-title::before {
    position: absolute;
    width: 79px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 154px;
    left: 530px;
    content: "";
}

.news-title::after {
    position: absolute;
    width: 78px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 162px;
    left: 550px;
    content: "";
}

.news-wrapper {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 44px;
    text-align: center;
}

.news-wrapper li a {
    text-decoration: none;
}

.news-elem {
    position: relative;
    background-color: #F8FCFE;
}

.news-elem:hover .news-elem-date {
    background-color: #18CFAB;
}

.news-elem:hover .news-elem-title {
    color: #18CFAB;
}

.news-elem-date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #203E38;
    /* padding: 16px 6px 15px 6px; */
    width: 70px;
    height: 68px;
    /* text-align: center; */
}

.news-elem-day {
    font-size: 16px;
    margin: 12px auto 7px;
}

.news-elem-title {
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}

.news-elem-comment {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
}

.peopleSay {
    background-image: url(../imgs/Sections_background/section-3.jpg);
    box-shadow: inset 6000px 0 0 rgba(0, 0, 0, 0.3);
    height: 853px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

.peopleSay-title {
    padding-top: 98px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 99px;
    font-size: 36px;
    color: #FFFFFF;
    position: relative;
}

.peopleSay-title::before {
    position: absolute;
    width: 79px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 154px;
    left: 530px;
    content: "";
}

.peopleSay-title::after {
    position: absolute;
    width: 78px;
    height: 4px;
    background: #18CFAB;;
    border: none;
    top: 162px;
    left: 550px;
    content: "";
}

.peopleSay div.container {
    overflow: hidden;
}

.carousel-track-container {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.peopleSay-list {
    position: relative;
    transition: transform 250ms ease-in;
}

.peopleSay-elem {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.peopleSay-elem-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
    height: 80px;
}


.peopleSay-elem-autor {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

.peopleSay-elem-autor-profession {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 38px;
}

.peopleSay-elem-img {
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 57px;
}

.peopleSay-tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 430px;
}

.hidden {
    display: none;
}

.button-prev {
    width: 31px;
    height: 31px;
    margin-right: 35px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
    cursor: pointer;
}

.button-prev:hover {
    background-color: #18CFAB;
}
.button-prev:hover .peopleSay-arrow-prev {
    border: 1px solid #ffffff;
    border-width: 0 2px 2px 0;
}

.peopleSay-arrow-prev {
    border: 1px solid #BBBBBB;
    border-width: 0 2px 2px 0;
    /* display: inline-block; */
    padding: 5px;
    transform: rotate(135deg);
    position: absolute;
    top: 9px;
    left: 12px;
}

.peopleSay-tab {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 38px;
}

.peopleSay-tab-img {
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.button-next {
    width: 31px;
    height: 31px;
    margin-left: 35px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
    cursor: pointer;
}

.button-next:hover {
    background-color: #18CFAB;
}

.button-next:hover .peopleSay-arrow-next {
    border: 1px solid #ffffff;
    border-width: 0 2px 2px 0;
}

.peopleSay-arrow-next {
    border: 1px solid #BBBBBB;
    border-width: 0 2px 2px 0;
    /* display: inline-block; */
    padding: 5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 6px;
}

.peopleSay-tab-elem {
    cursor: pointer;
}

.peopleSay-tab-elem.active{
    position: relative;
    bottom: 20px;
}



.footer {
    background-color: #22353F;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.color-green {
    color: #18CFAB;
}


:root {
	--yellow: #feb60a;
	--red: #ff0062;
	--blue: #00dbf9;
	--violet: #da00f7;
}



div.loading {
	display: none;
	justify-content: center;
	align-items: center;
}
.loading-elem {
	width: 1.0vw;
	height: 1.0vw;
	border-radius: 100%;
	margin: 1vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 2.0s 2.0s linear infinite;
}
.yellow {
	background-color: var(--yellow);
    animation-delay: 0.0s;
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.2s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}
