* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.nav {
    background-color: #313131;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin: 22px 21px 22px 27px;
}

.logo-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    column-gap: 69px;
}

.nav-menu-link {
    color: #FFFFFF;
}

.nav-menu-link:hover {
    color: #14B9D5;
}

.search {
    background-color: #000000;
    width: 68px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(./img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 369px;
    color: white;
}

.hero-title {
    text-align: center;
    /*padding-top: 164px;*/
    /*padding-bottom: 173px;*/
    font-size: 27px;
    line-height: 37px;
    font-family: Open Sans sans-serif;
    font-weight: bold;
    padding-top: 164px;
    margin-bottom: 44px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.button-link-left {
    padding: 16px 19px 17px;
    background-color: #89CA62;
}

.button-link-right {
    padding: 16px 29px 17px 30px;
    background-color: #14B9D5;
}

.posts-title {
    padding-top: 49px;
    padding-bottom: 52px;
    text-align: center;
    background-color: #F2F2F2;
}

.posts {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 896px;
    align-content: center;
    column-gap: 30px;
}

.posts-item {
    width: 370px;
    margin-bottom: 30px;
}

.posts-item-image {
    width: 100%;
}

.posts-item-name {
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: white;
}

.clients {
    background-image: url(./img/main-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 28%;
    height: 588px;
    color: white;
}

.clients-title {
    padding-top: 106px;
    padding-bottom: 87px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
}

.hr-main {
    width: 60px;
    height: 3px;
    margin: 0 auto 106px;
    background: #18B4CF;
    border: none;
}

.clients-name {
    display: grid;
    grid-template-columns: repeat(4,max-content);
    justify-content: center;
    gap: 55px;
}

.rated-title {
    text-align: center;
    margin-top: 49px;
    margin-bottom: 52px;
}

.rated-img {
    display: grid;
    /*grid-template-columns: repeat(7,max-content);*/
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
}

.news {
    /*width: 1192px;*/
    /*height: 1900px;*/
}
.news-title {
    margin-top: 48px;
    margin-bottom: 51px;
    text-align: center;
}

.news-hotels {
    display: grid;
    grid-row-gap: 44px;
    justify-content: center;
    grid-template-areas:
  "hotels-info-1 hotels-info-1 hotels-info-1 hotels-info-2"
  "hotels-info-3 hotels-info-3 hotels-info-4 hotels-info-4"
  "hotels-info-5 hotels-info-5 hotels-info-6 hotels-info-6"
  "hotels-info-7 hotels-info-8 hotels-info-8 hotels-info-8"
}

.hotels-info {
    justify-content: end;
}

.hotels-info-1 {
    display: flex;
    justify-items: center;
    /*background-color: #F9F7F7;*/
    grid-area: hotels-info-1;
    width: 856px;
}
.hotels-info-1 div, .hotels-info-8 div {
    background-color: #F9F7F7;
    padding-right: 24px;
}

.hotels-info-3 div, .hotels-info-4 div, .hotels-info-5 div, .hotels-info-6 div {
    padding-right: 14px;
    padding-top: 14px;
    background-color: #F9F7F7;
}

.hotels-info-2 {
    grid-area: hotels-info-2;
    text-align: center;
}
.hotels-info-2 p {
    padding: 14px 27px 11px;
    background-color: #F9F7F7;
}

.hotels-info-3 {
    grid-area: hotels-info-3;
    margin-right: 60px;
    width: 554px;
}

.hotels-info-4 {
    grid-area: hotels-info-4;
    width: 554px;
}

.hotels-info-5 {
    grid-area: hotels-info-5;
    margin-right: 60px;
    width: 554px;
}

.hotels-info-6 {
    grid-area: hotels-info-6;
    width: 554px;
}

.hotels-info-7 {
    grid-area: hotels-info-7;
    margin-right: 35px;
}

.hotels-info-7 p {
    padding: 5px 27px 20px;
    background-color: #F9F7F7;
    text-align: center;
}

.hotels-info-8 {
    grid-area: hotels-info-8;
    display: flex;
    justify-items: center;
    width: 856px;
    margin-bottom: 71px;
}

.hotels-info-title {
    font-family: Open Sans sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: end;
    padding: 41px 0 15px 0;
}

.hotels-info-title-1 {
    font-family: Open Sans sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.hotels-info-title-2 {
    text-align: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-bottom: 15px;
}

.hotels-info-text {
    font-family: Open Sans sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: end;
}

.footer {
    background-color: #000000;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
}

.footer-text {
    font-size: 13px;
    color: #FFFFFF;
}

.footer span {
    padding-right: 80px;
}

.logo-footer-name {
    margin-right: 386px;
}

.blue-text {
    color: #18B4CF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}
