* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.menu {
    margin-top: 68px;
    margin-bottom: 48px;
    }
.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    font-family: Roboto sans-serif;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo-blue {
    color: #33ccff;
}

.header-menu {
    display: flex;
    height: 72px;
    background-color: #35444F;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.header-menu-link {
    font-family: Roboto sans-serif;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 26px 33px 19px;
}

.header-menu-link:hover {
    background-color: #222F3A;
}

.header-menu-link-right {
    border-right: 1px solid #FFFFFF;
}

main {
    display: flex;
}

.aside-menu {
    display: flex;
    margin-right: 52px;
    width: 344px;
    height: 399px;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid rgba(0, 0, 0, 1);
}

.aside-menu-item {
    font-family: Roboto sans-serif;
    padding: 26px 0 25px 44px;
    font-size: 27px;
    line-height: 27px;
    background: rgba(0, 0, 0, 0.0001);
    width: 340px;
}

.aside-menu-item a {
    color: #495863;
}

.aside-menu-item:hover {
    background: #DBDBDB;
    padding-left: 75px;
    /*color: black;*/
}

.aside-menu-link:hover{
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.info-img {
    border: 1px solid #000000;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}

p {
    font-family: Roboto sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer-menu {
    display: flex;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu-item {
    font-size: 28px;
    font-family: Roboto sans-serif;
    margin-left: 40px;
}

.footer-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-copyright {
    margin-left: auto;
    margin-right: 40px;
    display: block;
}
