* {
  margin: 0;
  padding: 0;
}
#root {
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  background-color: rgb(252, 255, 205);
  border-radius: 20px;
}
.post {
  background-color: rgb(251, 255, 193);
  padding: 30px;
  border-radius: 30px;
  margin: 20px auto;
  border: 1px solid grey;
}
.username {
  font-size: 25px;
}
.full-name {
  font-size: 25px;
}
.email {
  font-size: 25px;
}
.title {
  font-size: 30px;
}
.button-to-remove {
  float: right;
  width: 80px;
  height: 30px;
}
.post-text {
  margin: 30px;
  font-size: 18px;
}
