body {
    background: black;
    overflow: hidden;
  }

  .star-wars {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items:center;
    height: 100vh;
    color: rgb(255, 208, 8);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    perspective: 100px;
    text-align: justify;
  }

.title {
    text-align: center;
}

  .scroll {
    transform-origin: bottom;
    width:90%;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

  @keyframes scroll {
    0% {
      transform:rotateX(20deg) translateY(100%);
    }

    20% {
      animation-timing-function: ease-in-out;
    }
    100% {
      transform:rotateX(25deg) translateY(-100%);
    }
  }
