* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.menu {
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    margin-left: 60px;
    letter-spacing: 2.7px;
}

.main-img {
    margin-top: 1px;
}

.main-title-text {
    margin-top: 48px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    text-transform: uppercase;
    font-family: Montserrat sans-serif;
    font-weight: bold;
    letter-spacing: 3.3px;
}

.main-text {
    margin-top: 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.main-button {
    padding: 18px 43px 17px 43px;
    display: inline-block;
    margin-top: 66px;
    margin-bottom: 42px;
    background-color: #FF0000;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    font-family: Montserrat sans-serif;
   }

.footer-text {
    margin-right: 105px;
    margin-bottom: 29px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
}