body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/bg_hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background: url("../img/bg_hero.svg") no-repeat center center fixed;*/
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    color: white;
}

h1 {
    font-size:30px;
}

