.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #3B5998;
    box-sizing: border-box;
    padding: 0 24px;
}

.header ul {
    display: flex;
}

.header li {
    list-style-type: none;
    font-size: 30px;
    margin: 0 30px;
    text-transform: uppercase;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.active {
    color: red;
    opacity: .4;
    cursor: default;
  }