.burger {
  width: 44px;
  height: 37px;
  background-color: #000000;
  position: absolute;
  top: 23px;
  right: 28px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.burger__line {
  width: 17px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 2px;
}

.burger-menu {
  list-style-type: none;
  position: absolute;
  top: 58px;
  right: 26px;
  width: 182px;
  display: none;
  
  &__item {
    padding: 5px 0 4px 13px;
    background: #f5f5f5;
    
    &:hover {
      background: #e5e5e5;
    }
  }
  
  &__link {
    text-decoration: none;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $color-title;
    
    &--first {
      color: $color-home;
    }
  }
}

.active {
  display: block;
}

@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }

  .burger {
    display: flex;
    margin-top: -3px;
    right: 26px;
  }

  .hero-img {
    margin-top: 53px;
  }
}
