.footer {
  background: #000000;
  max-width: 1600px;
  height: 355px;
  text-align: center;

  &-title {
    color: #fefefe;
    text-transform: uppercase;
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding-top: 66px;
    padding-bottom: 22px;
  }
  &-text {
    color: #b9b9b9;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 37px;
    width: 60%;
    display: inline-block;
  }
  &-contacts {
    color: #b9b9b9;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding-top: 34px;

    &__tel,
    &__email {
      text-decoration: none;
      color: #b9b9b9;
    }
  }
}

@media (max-width: 1199px) {
  .footer {
    max-width: 1200px;
    height: 332px;

    &-text {
      width: 85%;
      display: inline-block;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: 940px;
    height: 315px;

    &-title {
      font-size: 14px;
      padding-top: 38px;
      padding-bottom: 8px;
    }

    &-text {
      font-size: 12px;
      line-height: 20px;
      padding-bottom: 26px;
      width: 85%;
      display: inline-block;
    }

    &-contacts {
      font-size: 14px;
      line-height: 24px;
      padding-top: 25px;
    }
  }
}
