.hero-img {
  // margin-bottom: 66px;
}

.posts-title {
  margin-top: 66px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $color-title;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.posts__item {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 384px;
  margin-bottom: 20px;

  &-img {
    margin-right: 20px;
    margin-bottom: auto;
  }

  &-title {
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $color-title;
  }

  &-subtitle {
    font-family: $font;
    color: $color-subtext;
    font-size: 12px;
    line-height: 20px;
    color: $color-subtext;
  }

  &-text {
    color: $color-text;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 1199px) {
  body {
    padding: 28px;
  }
  .posts-wrapper {
    flex-direction: column;
  }

  .posts__item {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  body {
    padding: 25px;
  }

  .posts-title {
    margin-top: 38px;
    margin-bottom: 23px;
    font-size: 14px;
  }
  .posts-wrapper {
    flex-direction: column;
  }
  .posts__item {
    display: block;

    &-title {
      font-size: 14px;
    }

    &-subtitle {
      font-size: 11px;
    }
    &-text {
      display: none;
    }
  }
}
