* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  padding: 45px 160px 51px 160px;
  grid-auto-columns: minmax(100px, auto);
  justify-items: center;

  &__item {
    font-family: $font;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $color-title;
    text-decoration: none;
    white-space: nowrap;
    margin: 5px;

    &--first {
      color: #57a4a4;
    }
  }
}

@media (max-width: 1199px) {
  .nav-menu {
  padding: 17px 160px 51px 160px;
}
}
@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .hero-img {
    margin-top: 83px;
  }
}
