.buttons__main {
  padding: 5px;
  margin: 0;
  border-radius: 8px;
  // border: solid 1px #8cc5d9;
  // border-bottom: solid 3px #589cb6;
  // box-shadow: inset 0 0 0 1px #cdeffb;
  // color: #42788e;
  // text-shadow: 0 1px 0 #b6e6f9;
}

.buttons__main:hover {
cursor: pointer;
}

.btn__addCart {
  padding: 5px;
}

.btn__cartDelete {
  padding: 0;
text-align: right;
}