.root {
  box-sizing: border-box;
  padding: 12px;
  // width: 90%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: 20px 0;
}

.goodImg {
  max-width: 200px;
  max-height: 200px;
}

.name {
  margin: 0 auto;
  text-align: center;
}

.goodImgWrapper {
  height: 200px;
  color: rgb(255, 243, 177);
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.priceWrapper {
  display: flex;
}

svg#Capa_1 {
  width: 24px;
  height: 24px;
}

.svg__wrapper {
  text-align: right;
}
.svg__wrapper div {
  cursor: pointer;
}

.btn__addCartWrapper {
  margin-top: 20px;
  margin-left: 15px;
}

.btn__addCart {
  border: solid 1px #8cc5d9;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #cdeffb;
  color: #42788e;
  text-shadow: 0 1px 0 #b6e6f9;
}
