.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;

  &--title {
    color: white;
    font-weight: bold;
    margin-left: 25px;
  }

  &--close-btn {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 15px;
    color: white;
    border: none;
    background-color: #e74c3c;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}


.modalAddToCart {
  width: 600px;
  border-radius: 10px;
  background-color: #4696ff;
}

.modal__text {
  color: white;
  font-size: 20px;
  margin-left: 25px;
}

.modal__button {
  padding: 10px 20px;
  margin: 0 20px;
  border: none;
  background-color: #e74c3c;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
