.root {
  box-sizing: border-box;
  padding: 0 12px;
  // width: 90%;
  // max-width: 200px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: 20px 0;
}

.goodImg {
  max-width: 200px;
  max-height: 200px;
}

.name {
  margin: 0 auto;
  text-align: center;
}

.goodImgWrapper {
  height: 200px;
  color: rgb(255, 243, 177);
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.priceWrapper {
  display: flex;
}

.btn__cartDeleteWrapper {
  text-align: right;
}

.btn__cartDelete {
  border: none;
}
