body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background: url("../img/bg_hero.png") no-repeat center center fixed; */
    /* background-position: center; */

}

.container {
    width: 444px;
    height: 594px;
    background-color: #ffffff;
    margin: 58px auto;
    padding: 31px 60px;
    box-sizing: border-box;
    position: relative;
}

header {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding: 18px 0 18px 79px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-icons-login {
    display: flex;
    margin-right: 53px;
    align-items: center;
}

.header-icons {

}

.header-icon-calendar {
    padding-right: 27px;
}

.header-icon-post {
    padding-right: 24px;
}

.header-login {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 18px 79px 18px;
    position: relative;
}

.header-login::before {
content: "";
display: inline-block;
width: 1px;
height: 28px;
background-color: grey;
opacity: 0.2;
position: absolute;
top: 12px;
left: 36px;
}

.header-logo:hover, .header-login-link:hover, .header-signup-link:hover {
color: #01813F;
}

svg path {
    fill: inherit;
    stroke:inherit;
    stroke-width:inherit;
}

.header-icon-calendar:hover {
    stroke: #01813F;
    fill: #01813F;
}

.header-icon-post:hover {
    stroke: #01813F;
    fill: #01813F;
}

.header-icon-compass:hover {
    stroke: #01813F;
    fill: #01813F;
}

.form-enter {
    display: flex;
    justify-content: space-between;
}

.form-enter-signup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 16px;
}

.form-enter-signup::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

.form-enter-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-bottom: 13px;
}

.form-enter-login:hover {
color:#01813F
}

.socials {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}

.socials-facebook   {
    display: flex;
    padding: 12px 17px;
    background-color: #305DB8;
    flex-grow: 1;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}

.socials-facebook:hover {
    background-color: #022263;
    }

.socials-facebook-icon {
    padding-right: 37px;
}

.socials-facebook-text {
    color: white;
    position: relative;
}

.socials-facebook-text::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 28px;
        background-color: #0A162F;
        opacity: 0.1;
        position: absolute;
        top: -6px;
        left: -19px;
}

.socials-google   {
    display: flex;
    padding: 15px 0 15px 12px;
    background-color: #DF4A32;
    flex-grow: 1;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}

.socials-google:hover {
background-color: #AB1F09;
}

.socials-google-text {
    padding-right: 27px;
    color: white;
    position: relative;
}

.socials-google-text::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: -6px;
    left: -28px;
}

.socials-google-icon {
    padding-right: 38px;
}

.signup-or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin: 31px auto 11px;
    text-align: center;
    overflow: hidden;
}

.signup-or span {
    position: relative;
}

.signup-or span::before {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    right: 20px;
}

.signup-or span::after {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    /* border-bottom: 1px solid #F2F2F2; */
    top: 50%;
    left: 20px;
}

.form-fields {
padding: 14px 20px 13px 20px;
width: 100%;
margin-bottom: 15px;
box-sizing: border-box;
display: block;
background: rgba(255, 255, 255, 1);
border-radius: 4px;
border: 1px solid rgba(242, 242, 242, 1);
font-size: 14px;
}

input:focus {
    font-size: 14px;
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}

.form-fields::placeholder {
color: rgba(190, 190, 190, 1)
}

.form-fields-checkbox {
    font-size: 14px
    color: #434343;
}

.form-fields-checkbox {
    position: absolute;
    z-index: -1000;
    opacity: 0;
  }

  .form-fields-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .form-fields-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.form-fields-checkbox:checked+label::before {
    background-image: url(../img/form-checked.svg);
    background-size: 86%;
}

.form-checkbox-label {
    font-size: 14px;
    line-height: 87%;
    color: #434343;
}

.form-terms-color {
color: #3CB878;
font-weight: normal;
margin-left: 5px;
}

.form-terms-color:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.form-button-create {
    margin-top: 20px;
    padding: 14px 106px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    color: white;
    font-size: 16px;
    border: none;
}

.form-button-create:hover {
    font-family: Ubuntu;
    background: #01813F;
color: white;
}

.darkTheme {
    background-color: #abc3f3;
    color: #004aad;
    stroke: #004aad;
    fill: #004aad;
}
